<div class="container">
    <!-- Drop-down selection block -->
    <div class="selection-block">
        <div class="container">
            <label class="center">Bus driver</label>
            <h5 class="center">{{busDriver}}</h5>
            <label class="center">Fleet number</label>
            <h5 class="center">Fleet Number {{fleetNumber}}</h5>
            <label class="center">Date of Inspection</label>
            <h5 class="center">{{date}}</h5>
        </div>
    </div>
    <div class="divider"></div>


    <div class="inspection-checks">
        <div class="row">
            <h4 class="col s12 header center">List of Inspections:</h4>
        </div>
        <div class="row">
            <div class="col l5 s10">Cab Warning Devices</div>
            <div class="col l1 s2">{{md-check disabled=true checked=cabWarningDevices}}</div>
            <div class="col l5 s10">Wipers, Washers, Horn</div>
            <div class="col l1 s2">{{md-check disabled=true checked=wipersWashHorn}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Demisters</div>
            <div class="col l1 s2">{{md-check disabled=true checked=demisters}}</div>
            <div class="col l5 s10">Mirrors</div>
            <div class="col l1 s2">{{md-check disabled=true checked=mirrors}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Handbrake/Brakes</div>
            <div class="col l1 s2">{{md-check disabled=true checked=handBrake}}</div>
            <div class="col l5 s10">Direction Indicators</div>
            <div class="col l1 s2">{{md-check disabled=true checked=directIndicators}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Fire Extinguishers</div>
            <div class="col l1 s2">{{md-check disabled=true checked=fireExtinguishers}}</div>
            <div class="col l5 s10">Floor, Treads, Step, Stairs</div>
            <div class="col l1 s2">{{md-check disabled=true checked=floorThreads}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Driver's Seat (& Belt)</div>
            <div class="col l1 s2">{{md-check disabled=true checked=driversSeat}}</div>
            <div class="col l5 s10">Passenger Seats (& Belts)</div>
            <div class="col l1 s2">{{md-check disabled=true checked=passengerSeats}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Handpoles</div>
            <div class="col l1 s2">{{md-check disabled=true checked=handPoles}}</div>
            <div class="col l5 s10">Bells</div>
            <div class="col l1 s2">{{md-check disabled=true checked=bells}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Emergency Exit, Hammers</div>
            <div class="col l1 s2">{{md-check disabled=true checked=emergencyExitHammers}}</div>
            <div class="col l5 s10">Interior Lights</div>
            <div class="col l1 s2">{{md-check disabled=true checked=interiorLights}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">TFT Screen</div>
            <div class="col l1 s2">{{md-check disabled=true checked=TFTScreen}}</div>
            <div class="col l5 s10">Wheelchair Ramp</div>
            <div class="col l1 s2">{{md-check disabled=true checked=wheelchairRamp}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Entrance Door</div>
            <div class="col l1 s2">{{md-check disabled=true checked=EntranceDoor}}</div>
            <div class="col l5 s10">Step/Platform Lights</div>
            <div class="col l1 s2">{{md-check disabled=true checked=stepLights}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Licence Discs</div>
            <div class="col l1 s2">{{md-check disabled=true checked=licenseDiscs}}</div>
            <div class="col l5 s10">Windscreen, Windows</div>
            <div class="col l1 s2">{{md-check disabled=true checked=windscreen}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Exterior Lights</div>
            <div class="col l1 s2">{{md-check disabled=true checked=exteriorLights}}</div>
            <div class="col l5 s10">Wheels, Nuts, Tyres</div>
            <div class="col l1 s2">{{md-check disabled=true checked=wheelsNutsTyres}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Body Panels</div>
            <div class="col l1 s2">{{md-check disabled=true checked=bodyPanels}}</div>
            <div class="col l5 s10">Fuel Filter Cap</div>
            <div class="col l1 s2">{{md-check disabled=true checked=fuelFilterCup}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Oil, Water, Fuel Leaks</div>
            <div class="col l1 s2">{{md-check disabled=true checked=oilWaterFuelLicks}}</div>
            <div class="col l5 s10">Emergency Exit (External)</div>
            <div class="col l1 s2">{{md-check disabled=true checked=emergencyExitExternal}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Bonnets, Flaps, Doors</div>
            <div class="col l1 s2">{{md-check disabled=true checked=bonnetsFlapsDoors}}</div>
            <div class="col l5 s10">Exhaust Smoke</div>
            <div class="col l1 s2">{{md-check disabled=true checked=exhaustSmoke}}</div>
        </div>
        <div class="row">
            <div class="col l5 s10">Destination Equipment</div>
            <div class="col l1 s2">{{md-check disabled=true checked=destinationEquipment}}</div>
            <div class="col l5 s10">CCTV</div>
            <div class="col l1 s2">{{md-check disabled=true checked=CCTV}}</div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="button-block">
        <div class="row">
            <div id="back-button" class="col offset-l5 l7 offset-s4 s12">
              {{#link-to 'inspections'}}
                  <a class="waves-effect waves-light btn"><i class="mdi-hardware-keyboard-arrow-left left"></i>back</a>
              {{/link-to}}
            </div>
        </div>
    </div>
</div>
