<!-- Avatar list goes here -->
<div id="general-inspection-list" class="row">
    <div class="col l10 offset-l1 s12">
        <ul class="collection">
          {{#link-to 'existing-inspection'}}
            {{#each inspectionList in model}}
                <li class="collection-item avatar" {{action 'findInspectionById' inspectionList.id}}>
                    <i class="mdi-maps-directions-bus circle grey"></i>
                    <span class="title">Fleet Number {{inspectionList.fleetNumber}}</span>
                    <p>{{inspectionList.name}}<br>
                      {{inspectionList.date}}
                    </p>
                    <!-- Here goes logic for showing count of failures in Inspection section -->
                    {{#if inspectionList.failuresCount}}
                      <div class="secondary-content"><p color="red">{{inspectionList.failuresCount}} failures</p></div>
                    {{/if}}
                </li>
            {{/each}}
          {{/link-to}}
        </ul>
    </div>
</div>

<!-- Fixed button for adding new inspection goes here -->
<div class="col10 offset l1 s12">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      {{#link-to 'new-inspection'}}
          <a class="btn-floating btn-large red" {{action "clearNewInspection"}}><i class="large mdi-content-add"></i></a>
      {{/link-to}}
    </div>
</div>

